/* color codes */
$white: #ffffff;
$grey: #eeeeee;

$background: #eeeeee;

$mobileBreakPoint: 700px;
$tabletBreakPoint: 1024px;
$desktopBreakPoint: 1440px;

/* colors for filters */
$radioBtnColour: #c5e09a;
$radioBtnActiveColour: #7cba01;

/* mission card colours */
$missionName: #5e6a9b;
$missonValues: #525252;
$loadButton: #1f299e;