@import "../../../theme.scss";

.btn-containers{
    display: flex;
    flex-flow: row wrap;
    .btn-wrap{
        display: flex;
        flex: 0 0 50%;
        max-width: 50%;
        &:nth-child(odd){
            justify-content: flex-start;
        }
        &:nth-child(even){
            justify-content: flex-end;
        }
    }

}
.filter-btns{
    .radio-btn {
        position: absolute;
        display: none;
        +.radio-name{
            background-color: $radioBtnColour;
            display: inline-block;
            cursor: pointer;
            padding: 8px 15px;
            min-width: 80px;
            font-size: 14px;
            font-weight: 600;
            border-radius: 4px;
            text-align: center;
            margin-bottom: 15px;
        }
        &:checked {
            + .radio-name{
                background-color: $radioBtnActiveColour;
            }
        }
    }
    
}