<div class="py-3">
    <div class="row">
        <!-- fiter section component to load the required filters seperately -->
        <app-filters-section class="filter-section mb-3"></app-filters-section>

        <!-- since UI was not meating requiremnt, so program data cards are present here instead of the shared component -->
        <div class="program-section">
            <div class="row">
                <ng-container *ngFor="let programs of programData | slice:0:sliceIndex; trackBy: flightNumber">
                    <div class="card mb-3">
                        <div class="card-body">
                            <figure class="mission-image">
                                <img class="mission-patch" [src]="programs['links']['mission_patch_small']" [alt]="programs['mission_name']">
                            </figure>
                            <h5 class="mission-name">{{programs['mission_name']}} #{{programs['flight_number']}}</h5>
    
                            <div class="mission-info">
                                <div>
                                    <label class="label">Mission Ids:</label>
                                    <ul><li class="value" *ngFor="let missionId of programs['mission_id']">{{missionId}}</li></ul>
                                </div>
    
                                <p>
                                    <label class="label">Launch Year:</label>
                                    <span class="value">{{programs['launch_year']}}</span>
                                </p>
    
                                <p>
                                    <label class="label">Successful Launch:</label>
                                    <span class="value">{{programs['launch_success']}}</span>
                                </p>
    
                                <p>
                                    <label class="label">Successful Landing:</label>
                                    <span class="value">{{programs['rocket']['first_stage']['cores'][0]['land_success']}}</span>
                                </p>
                            </div>
                            
                        </div>
                    </div>
                </ng-container>
            </div>

            <div class="text-center">
                <button *ngIf="allowLoadMore" [attr.aria-hidden]="!allowLoadMore" class="loadMoreBtn" (click)="loadMore()">Load More</button>
            </div>

            <div class="loader" [attr.aria-label]="loader" *ngIf="showLoader">
                <img src="assets/images/Reload-1s-200px.gif" alt="Loading">
            </div>
        </div>         

    </div>
    
</div>