@import "../../theme";

.filter-section{
    width: 100%;
}
.program-section{
    width: 100%;
    .card{
        flex: 0 0 100%;
        max-width: 100%;
    }
}

.card {
    .card-body{
        padding: 15px;
        .mission-image{
            text-align: center;
            background-color: $grey;
            .mission-patch{
                max-width: 100%;
            }
        }
        .mission-name{
            color: $missionName;
            margin: 10px 0;
            font-size: 15px;
        }
        .mission-info{
            .label{
                font-weight: 600;
                font-size: 15px;
            }
            .value{
                color: $missonValues;
                font-size: 14px;
            }
            
            ul{
                margin-top: 10px;
                padding-left: 40px;
                .value{
                    width: 100%;
                }
            }
            p{
                display: flex;
                flex-flow: row wrap;
                margin: 10px 0;
                .label,.value{
                    flex:0 0 50%;
                    max-width: 50%;
                }
                &:last-child{
                    margin-bottom: 0;
                }
            }

        }
    }
}

.loadMoreBtn{
    background: none;
    border: none;
    cursor: pointer;
    color: $loadButton;
    font-size: 16px;
    font-weight: 600;
    margin: 10px;
}

.loader {
    position: fixed;
    z-index: 11;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    img {
        max-width: 55px;
    }
}

@media screen and (min-width:$mobileBreakPoint){
    .filter-section{
        max-width: 300px;
    }
    .program-section{
        width: calc(100% - 300px);
        padding: 0 15px;
        .card{
            flex: 0 0 46.32%;
            max-width: 46.32%;
            margin-right: 15px;
        }
    }
    
}

@media screen and (min-width: $tabletBreakPoint){
    .program-section{
        .card{
            flex: 0 0 22%;
            max-width: 22%; 
        }
    }
}

@media screen and (min-width: 1200px){
    .program-section{
        .card{
            flex: 0 0 23.48%;
            max-width: 23.48%; 
        }
    }
}